.glyphicon {
  margin-bottom: 10px;
  margin-right: 10px;
}

small {
  display: block;
  line-height: 1.428571429;
  color: #999;
}
body {
  padding-top: 30px;
}
.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}
mat-card {
  margin: 30px;
}
.spacer {
  flex: 1 1 auto;
}
